ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
}

button {
  background-color: transparent;
  border: none;
}

li {
  list-style-type: none;
}

.listStyles {
  display: flex;
  flex-direction: column;
}
