.hourlyWeatherContainer {
  position: relative;
  top: 5rem;
}

.tabContainer {
  display: flex;
  justify-content: space-between;
}

.tabContainer > button {
  background-color: transparent;
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: 4px;
  padding: 1em;
}

.listContainer {
  display: flex;
  flex-direction: column;
}
.listStyles {
  list-style-type: none;
}

.listStyles {
  display: flex;
  justify-content: space-between;
  /* padding-right: 2em; */
}
/* 
.listStyles > img {
  padding-right: 2em;
} */
