.todayContainer {
  background-color: #3c3b50;
  border-radius: 0 1.2em 1.2em 0;
  width: 50em;
  color: white;
  position: absolute;
}

.todayInnerContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.todayHeader {
  position: relative;
  padding: 2em;
  font-size: 2em;
  top: -3rem;
}

.todayBody {
}

.todayFooter {
  padding: 2em;
}
