.todaysForecastContainer {
  position: relative;
  align-self: center;
  top: -6rem;
}

.subheadingText {
  color: #b5aabb;
}

.todaysTemp {
  font-size: 6em;
  letter-spacing: 3px;
  position: relative;
  left: 1rem;
}

img {
  display: inline-block;
}

h3 {
  display: inline-block;
}
