.weatherPageContainer {
  position: absolute;
  display: flex;
  flex-direction: row;
  border-radius: 1.2em;
  background-color: white;
  width: 71em;
  height: 45em;
}

.weatherPageContainer > div:nth-child(2) {
  position: relative;
}
